<%# add navigation links to this file %>
<li><%= link_to 'Novo', page_path('about') %></li>
<li><%= link_to 'À receber', page_path('about') %></li>
<li><%= link_to 'Pagos', page_path('about') %></li>
<li><%= link_to 'Tudo', page_path('about') %></li>
